<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="main-wrapper">
      <%= yield %>
      <%= render "layouts/footer" %>
      <%= javascript_include_tag 'application' %>
    </div>
  </body>
</html>
