<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render "shared/header" %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
